In [1]:
# File to use to test the main function, utility functions, and structure. Later will move changes to functions to separate files in utils folder.

In [2]:
#imports
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
# import functions
from utils.AlpacaFunctions import get_historical_dataframe
from utils.data_process import return_rolling_averages

In [4]:
# set ticker, start date, end date, timeframe
ticker = "TSLA"

today = pd.Timestamp.now(tz="America/New_York")

start_date = pd.Timestamp(today - pd.Timedelta(days=300)).isoformat()

end_date = today

timeframe = '1D'

In [5]:
df = pd.DataFrame(get_historical_dataframe(ticker, start_date, end_date, timeframe)[ticker])

In [6]:
volume_df = pd.DataFrame(df["volume"])

In [7]:
volume_df

                             volume
time
2021-03-17 00:00:00-04:00  37888931
2021-03-18 00:00:00-04:00  31802623
2021-03-19 00:00:00-04:00  37974884
2021-03-22 00:00:00-04:00  36961750
2021-03-23 00:00:00-04:00  27199508
...                             ...
2022-01-05 00:00:00-05:00  24879847
2022-01-06 00:00:00-05:00  28202393
2022-01-07 00:00:00-05:00  26528721
2022-01-10 00:00:00-05:00  28072524
2022-01-11 00:00:00-05:00   9848277

[209 rows x 1 columns]

In [8]:
close_df = pd.DataFrame(df["close"])

In [9]:
close_df

                               close
time
2021-03-17 00:00:00-04:00   701.5400
2021-03-18 00:00:00-04:00   653.3000
2021-03-19 00:00:00-04:00   654.9700
2021-03-22 00:00:00-04:00   670.0000
2021-03-23 00:00:00-04:00   662.4750
...                              ...
2022-01-05 00:00:00-05:00  1087.6201
2022-01-06 00:00:00-05:00  1064.7000
2022-01-07 00:00:00-05:00  1026.9000
2022-01-10 00:00:00-05:00  1058.2700
2022-01-11 00:00:00-05:00  1067.7550

[209 rows x 1 columns]

In [10]:
averages = return_rolling_averages(close_df)

In [11]:
averages

,close,5,10,30,100
time,,,,,
2021-03-17 00:00:00-04:00,701.5400,NaN,NaN,NaN,NaN
2021-03-18 00:00:00-04:00,653.3000,NaN,NaN,NaN,NaN
2021-03-19 00:00:00-04:00,654.9700,NaN,NaN,NaN,NaN
2021-03-22 00:00:00-04:00,670.0000,NaN,NaN,NaN,NaN
2021-03-23 00:00:00-04:00,662.4750,668.45700,NaN,NaN,NaN
...,...,...,...,...,...
2022-01-05 00:00:00-05:00,1087.6201,1112.89402,1090.87901,1047.835670,920.569806
2022-01-06 00:00:00-05:00,1064.7000,1111.76802,1096.48601,1046.365337,924.355306
2022-01-07 00:00:00-05:00,1026.9000,1105.70002,1092.43001,1043.400337,927.965706
2022-01-10 00:00:00-05:00,1058.2700,1077.42402,1088.87501,1042.616337,931.655506
2022-01-11 00:00:00-05:00,1067.7550,1061.04902,1086.76551,1040.308837,935.598356

In [52]:
windows = [5, 10, 30, 100]
for w in windows:
    close_df[w]=close_df["close"].rolling(w).mean()

In [54]:
close_df

,close,5,10,30,100
time,,,,,
2021-03-17 00:00:00-04:00,701.5400,NaN,NaN,NaN,NaN
2021-03-18 00:00:00-04:00,653.3000,NaN,NaN,NaN,NaN
2021-03-19 00:00:00-04:00,654.9700,NaN,NaN,NaN,NaN
2021-03-22 00:00:00-04:00,670.0000,NaN,NaN,NaN,NaN
2021-03-23 00:00:00-04:00,662.4750,668.45700,NaN,NaN,NaN
...,...,...,...,...,...
2022-01-05 00:00:00-05:00,1087.6201,1112.89402,1090.87901,1047.835670,920.569806
2022-01-06 00:00:00-05:00,1064.7000,1111.76802,1096.48601,1046.365337,924.355306
2022-01-07 00:00:00-05:00,1026.9000,1105.70002,1092.43001,1043.400337,927.965706
2022-01-10 00:00:00-05:00,1058.2700,1077.42402,1088.87501,1042.616337,931.655506
2022-01-11 00:00:00-05:00,1065.1500,1060.52802,1086.50501,1040.222003,935.572306

In [16]:
# # pseudocode outline:

# function to get price history - args are stock ticker/s, amount of days
# 	call alpaca
# 	return dataframe

# function to get twitter history
# 	possibly filter for repeated tweets
# 	return signal

# function to get news history
# 	return signal

# function to get reddit history
# 	return signal

# function to get general sentiment signals history
# 	call function to get twitter history
# 	call function to get news history
# 	call function to get reddit history
# 	return combined dataframe of signals


# function to get sentiment signals history of specific stock - arg is stock ticker
# 	call function to get twitter history
# 	call function to get news history
# 	call function to get reddit history
# 	return combined dataframe of signals

# function to run machine learning - arg is combined signals and stock history
# 	add additional columns for each signal for a daily percent change and a 5 day moving average a 100 day moving average
# 	scale
# 	train/test split
# 	try a few machine learning possibilities, svm, adaboost, possibly neural - try to guess if it will go up or down the following day

# 	try the following : reduce overfitting with early stopping
	
# 	neural - y is determined by whether it goes up or down the following day. two output neurons, highest one is selected to make signal.
# 	check amount correct, amount incorrect, and difference between actual and strategy.	

# 	neural 2nd stage - train only on the indexes which were incorrectly predicted.

	




# 	return buy/sell signal


# Main function:
# 	determine which stocks to pull, one or many

# 	call function to get price history

# 	call function to get general sentiment signals history

# 	call function to get sentiment signals history for specific stock/s

# 	call function to run machine learning on the price history and signals

# 	output graphs





# terms to use in signal search for general:
# green
# renewable
# environment
# climate
# global warming
# climate crisis
# natural disaster