In [1]:
# File to use to test the main function, utility functions, and structure. Later will move changes to functions to separate files in utils folder.

In [2]:
#imports
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
# import functions
from utils.AlpacaFunctions import get_historical_dataframe
from utils.data_process import return_rolling_averages
from utils.data_process import return_crossovers

In [4]:
# set ticker, start date, end date, timeframe
ticker = "TSLA"

today = pd.Timestamp.now(tz="America/New_York")

start_date = pd.Timestamp(today - pd.Timedelta(days=700)).isoformat()

end_date = today

timeframe = '1D'

In [5]:
df = pd.DataFrame(get_historical_dataframe(ticker, start_date, end_date, timeframe)[ticker])

In [6]:
volume_df = pd.DataFrame(df["volume"])

In [7]:
volume_df

                             volume
time
2020-02-11 00:00:00-05:00  11177954
2020-02-12 00:00:00-05:00  11193209
2020-02-13 00:00:00-05:00  24953651
2020-02-14 00:00:00-05:00  14271351
2020-02-18 00:00:00-05:00  14593786
...                             ...
2022-01-05 00:00:00-05:00  24879847
2022-01-06 00:00:00-05:00  28202393
2022-01-07 00:00:00-05:00  26528721
2022-01-10 00:00:00-05:00  28072524
2022-01-11 00:00:00-05:00  18947203

[485 rows x 1 columns]

In [8]:
close_df = pd.DataFrame(df["close"])

In [40]:
close_df.head(20)

,close,2,3,5,8,10,13,20,21,34,50,55,89,100,144,200
time,,,,,,,,,,,,,,,,
2020-02-11 00:00:00-05:00,774.0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-12 00:00:00-05:00,767.4400,770.7300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-13 00:00:00-05:00,803.8600,785.6500,781.773333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-14 00:00:00-05:00,799.9724,801.9162,790.424133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-18 00:00:00-05:00,858.6600,829.3162,820.830800,800.79048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-19 00:00:00-05:00,916.9600,887.8100,858.530800,829.37848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-20 00:00:00-05:00,899.1800,908.0700,891.600000,855.72648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-21 00:00:00-05:00,901.0000,900.0900,905.713333,875.15448,840.13655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-24 00:00:00-05:00,833.1600,867.0800,877.780000,881.79200,847.52905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-25 00:00:00-05:00,799.1100,816.1350,844.423333,869.88200,851.48780,835.33624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-26 00:00:00-05:00,778.8000,788.9550,803.690000,842.25000,848.35530,835.81424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-27 00:00:00-05:00,678.8500,728.8250,752.253333,798.18400,833.21500,826.95524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-28 00:00:00-05:00,667.4300,673.1400,708.360000,751.47000,809.31125,813.31224,806.034031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-02 00:00:00-05:00,743.6900,705.5600,696.656667,733.57600,787.65250,807.68400,803.700954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-03 00:00:00-05:00,745.5100,744.6000,718.876667,722.85600,768.44375,796.36900,802.014031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-04 00:00:00-05:00,749.5000,747.5050,746.233333,716.99600,749.50625,779.62300,797.832492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-05 00:00:00-05:00,723.6200,736.5600,739.543333,725.95000,735.81375,762.06700,791.959231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06 00:00:00-05:00,703.3900,713.5050,725.503333,733.14200,723.84875,742.30600,780.015385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-09 00:00:00-04:00,606.4600,654.9250,677.823333,705.69600,702.30625,719.63600,756.130769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-10 00:00:00-04:00,645.0000,625.7300,651.616667,685.59400,698.07500,704.22500,736.578462,769.78062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
return_rolling_averages(close_df)

In [11]:
close_df.head(20)

,close,2,3,5,8,10,13,20,21,34,50,55,89,100,144,200
time,,,,,,,,,,,,,,,,
2020-02-11 00:00:00-05:00,774.0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-12 00:00:00-05:00,767.4400,770.7300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-13 00:00:00-05:00,803.8600,785.6500,781.773333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-14 00:00:00-05:00,799.9724,801.9162,790.424133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-18 00:00:00-05:00,858.6600,829.3162,820.830800,800.79048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-19 00:00:00-05:00,916.9600,887.8100,858.530800,829.37848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-20 00:00:00-05:00,899.1800,908.0700,891.600000,855.72648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-21 00:00:00-05:00,901.0000,900.0900,905.713333,875.15448,840.13655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-24 00:00:00-05:00,833.1600,867.0800,877.780000,881.79200,847.52905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-25 00:00:00-05:00,799.1100,816.1350,844.423333,869.88200,851.48780,835.33624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-26 00:00:00-05:00,778.8000,788.9550,803.690000,842.25000,848.35530,835.81424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-27 00:00:00-05:00,678.8500,728.8250,752.253333,798.18400,833.21500,826.95524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-28 00:00:00-05:00,667.4300,673.1400,708.360000,751.47000,809.31125,813.31224,806.034031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-02 00:00:00-05:00,743.6900,705.5600,696.656667,733.57600,787.65250,807.68400,803.700954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-03 00:00:00-05:00,745.5100,744.6000,718.876667,722.85600,768.44375,796.36900,802.014031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-04 00:00:00-05:00,749.5000,747.5050,746.233333,716.99600,749.50625,779.62300,797.832492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-05 00:00:00-05:00,723.6200,736.5600,739.543333,725.95000,735.81375,762.06700,791.959231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06 00:00:00-05:00,703.3900,713.5050,725.503333,733.14200,723.84875,742.30600,780.015385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-09 00:00:00-04:00,606.4600,654.9250,677.823333,705.69600,702.30625,719.63600,756.130769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-10 00:00:00-04:00,645.0000,625.7300,651.616667,685.59400,698.07500,704.22500,736.578462,769.78062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
cross_df = return_crossovers(close_df)

In [13]:
cross_df.head(20)

,close to 2,close to 3,close to 5,close to 8,close to 10,close to 13,close to 20,close to 21,close to 34,close to 50,...,55 to 89,55 to 100,55 to 144,55 to 200,89 to 100,89 to 144,89 to 200,100 to 144,100 to 200,144 to 200
time,,,,,,,,,,,,,,,,,,,,,
2020-02-11 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-12 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-13 00:00:00-05:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-14 00:00:00-05:00,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-18 00:00:00-05:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-19 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-20 00:00:00-05:00,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-21 00:00:00-05:00,1,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-24 00:00:00-05:00,-1,0,-1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-25 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-26 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-27 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-28 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-02 00:00:00-05:00,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-03 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-04 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-05 00:00:00-05:00,-1,-1,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-06 00:00:00-05:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-09 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-10 00:00:00-04:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
pct_change_df = close_df.pct_change()

In [15]:
pct_change_df

,close,2,3,5,8,10,13,20,21,34,50,55,89,100,144,200
time,,,,,,,,,,,,,,,,
2020-02-11 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-12 00:00:00-05:00,-0.008501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-13 00:00:00-05:00,0.047456,0.019358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-14 00:00:00-05:00,-0.004836,0.020704,0.011066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-18 00:00:00-05:00,0.073362,0.034168,0.038469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-05 00:00:00-05:00,-0.053939,-0.047687,0.008918,0.000370,0.002288,0.013868,0.011903,0.001746,0.003675,0.000922,0.001172,0.003752,0.004246,0.004039,0.003951,0.002701
2022-01-06 00:00:00-05:00,-0.021074,-0.037962,-0.039265,-0.001012,-0.003297,0.005140,0.009764,-0.000165,0.000600,-0.000688,0.000870,0.003447,0.003898,0.004112,0.003683,0.002753
2022-01-07 00:00:00-05:00,-0.035503,-0.028211,-0.037169,-0.005458,-0.007037,-0.003699,0.009180,0.001140,-0.001902,-0.001936,-0.000207,0.002759,0.003456,0.003906,0.003511,0.002441
2022-01-10 00:00:00-05:00,0.030548,-0.003074,-0.009232,-0.025573,-0.003122,-0.003254,0.008599,0.002017,0.002537,-0.002201,-0.000351,0.002813,0.003833,0.003976,0.003709,0.002769
2022-01-11 00:00:00-05:00,0.005792,0.017984,-0.000095,-0.015821,-0.000680,-0.002245,0.003967,0.004810,0.002202,-0.002564,-0.000928,0.002638,0.003874,0.004196,0.003649,0.002846

In [16]:
signals_input_df = pd.concat([pct_change_df, cross_df, volume_df], axis=1)

In [57]:
signals_input_df_clear = signals_input_df.dropna()

In [59]:
signals_input_df_clear

,close,2,3,5,8,10,13,20,21,34,...,55 to 100,55 to 144,55 to 200,89 to 100,89 to 144,89 to 200,100 to 144,100 to 200,144 to 200,volume
time,,,,,,,,,,,,,,,,,,,,,
2020-11-24 00:00:00-05:00,0.065540,0.065690,0.037543,0.046869,0.039325,0.032375,0.020368,0.015178,0.014937,0.008876,...,0,0,0,0,0,-1,-1,0,0,49296561
2020-11-25 00:00:00-05:00,0.032634,0.048565,0.053964,0.034222,0.043899,0.033822,0.024421,0.019118,0.016232,0.009970,...,0,0,0,0,0,0,0,0,0,45026821
2020-11-27 00:00:00-05:00,0.020470,0.026455,0.038800,0.032798,0.044678,0.036292,0.027194,0.019553,0.019201,0.010119,...,0,0,0,0,0,0,0,0,0,34800710
2020-11-30 00:00:00-05:00,-0.032898,-0.006484,0.006190,0.028254,0.030069,0.032140,0.025139,0.019543,0.016333,0.008215,...,0,0,0,0,0,0,0,0,0,56072877
2020-12-01 00:00:00-05:00,0.033029,-0.000486,0.006482,0.022655,0.023031,0.034531,0.026407,0.019838,0.020330,0.009068,...,0,0,0,0,0,0,0,0,0,37313883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-05 00:00:00-05:00,-0.053939,-0.047687,0.008918,0.000370,0.002288,0.013868,0.011903,0.001746,0.003675,0.000922,...,0,0,0,0,0,0,0,0,0,24879847
2022-01-06 00:00:00-05:00,-0.021074,-0.037962,-0.039265,-0.001012,-0.003297,0.005140,0.009764,-0.000165,0.000600,-0.000688,...,0,0,0,0,0,0,0,0,0,28202393
2022-01-07 00:00:00-05:00,-0.035503,-0.028211,-0.037169,-0.005458,-0.007037,-0.003699,0.009180,0.001140,-0.001902,-0.001936,...,0,0,0,0,0,0,0,0,0,26528721
2022-01-10 00:00:00-05:00,0.030548,-0.003074,-0.009232,-0.025573,-0.003122,-0.003254,0.008599,0.002017,0.002537,-0.002201,...,0,0,0,0,0,0,0,0,0,28072524
2022-01-11 00:00:00-05:00,0.005792,0.017984,-0.000095,-0.015821,-0.000680,-0.002245,0.003967,0.004810,0.002202,-0.002564,...,0,0,0,0,0,0,0,0,0,18947203

In [54]:
# generate target signal. 1 = buy if next day will go up. -1 = sell if next day will go down.
y_signal = (((close_df["close"].iloc[range(close_df.index.shape[0])] < close_df["close"].shift().iloc[range(close_df.index.shape[0])])*1)-.5)*2

In [60]:
y = pd.DataFrame(y_signal).loc[signals_input_df_clear.index]

In [61]:
y

                           close
time
2020-11-24 00:00:00-05:00   -1.0
2020-11-25 00:00:00-05:00   -1.0
2020-11-27 00:00:00-05:00   -1.0
2020-11-30 00:00:00-05:00    1.0
2020-12-01 00:00:00-05:00   -1.0
...                          ...
2022-01-05 00:00:00-05:00    1.0
2022-01-06 00:00:00-05:00    1.0
2022-01-07 00:00:00-05:00    1.0
2022-01-10 00:00:00-05:00   -1.0
2022-01-11 00:00:00-05:00   -1.0

[285 rows x 1 columns]

In [18]:
# # pseudocode outline:

# function to get price history - args are stock ticker/s, amount of days
# 	call alpaca
# 	return dataframe

# function to get twitter history
# 	possibly filter for repeated tweets
# 	return signal

# function to get news history
# 	return signal

# function to get reddit history
# 	return signal

# function to get general sentiment signals history
# 	call function to get twitter history
# 	call function to get news history
# 	call function to get reddit history
# 	return combined dataframe of signals


# function to get sentiment signals history of specific stock - arg is stock ticker
# 	call function to get twitter history
# 	call function to get news history
# 	call function to get reddit history
# 	return combined dataframe of signals

# function to run machine learning - arg is combined signals and stock history
# 	add additional columns for each signal for a daily percent change and a 5 day moving average a 100 day moving average
# 	scale
# 	train/test split
# 	try a few machine learning possibilities, svm, adaboost, possibly neural - try to guess if it will go up or down the following day

# 	try the following : reduce overfitting with early stopping
	
# 	neural - y is determined by whether it goes up or down the following day. two output neurons, highest one is selected to make signal.
# 	check amount correct, amount incorrect, and difference between actual and strategy.	

# 	neural 2nd stage - train only on the indexes which were incorrectly predicted.

	




# 	return buy/sell signal


# Main function:
# 	determine which stocks to pull, one or many

# 	call function to get price history

# 	call function to get general sentiment signals history

# 	call function to get sentiment signals history for specific stock/s

# 	call function to run machine learning on the price history and signals

# 	output graphs





# terms to use in signal search for general:
# green
# renewable
# environment
# climate
# global warming
# climate crisis
# natural disaster