In [1]:
# File to use to test the main function, utility functions, and structure. Later will move changes to functions to separate files in utils folder.

In [2]:
#imports
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
# import functions
from utils.AlpacaFunctions import get_historical_dataframe
from utils.data_process import return_rolling_averages
from utils.data_process import return_crossovers

In [4]:
# set ticker, start date, end date, timeframe
ticker = "TSLA"

today = pd.Timestamp.now(tz="America/New_York")

start_date = pd.Timestamp(today - pd.Timedelta(days=500)).isoformat()

end_date = today

timeframe = '1D'

In [5]:
df = pd.DataFrame(get_historical_dataframe(ticker, start_date, end_date, timeframe)[ticker])

In [6]:
volume_df = pd.DataFrame(df["volume"])

In [7]:
volume_df

                              volume
time
2020-08-31 00:00:00-04:00  111197923
2020-09-01 00:00:00-04:00   81257715
2020-09-02 00:00:00-04:00   92367647
2020-09-03 00:00:00-04:00   80478522
2020-09-04 00:00:00-04:00  101195492
...                              ...
2022-01-05 00:00:00-05:00   24879847
2022-01-06 00:00:00-05:00   28202393
2022-01-07 00:00:00-05:00   26528721
2022-01-10 00:00:00-05:00   28072524
2022-01-11 00:00:00-05:00   18947203

[345 rows x 1 columns]

In [8]:
close_df = pd.DataFrame(df["close"])

In [9]:
close_df

                               close
time
2020-08-31 00:00:00-04:00   498.5100
2020-09-01 00:00:00-04:00   475.0400
2020-09-02 00:00:00-04:00   447.2450
2020-09-03 00:00:00-04:00   407.0000
2020-09-04 00:00:00-04:00   417.9307
...                              ...
2022-01-05 00:00:00-05:00  1087.6201
2022-01-06 00:00:00-05:00  1064.7000
2022-01-07 00:00:00-05:00  1026.9000
2022-01-10 00:00:00-05:00  1058.2700
2022-01-11 00:00:00-05:00  1064.4000

[345 rows x 1 columns]

In [10]:
return_rolling_averages(close_df)

In [11]:
close_df.head(20)

,close,2,3,5,8,10,13,20,21,34,50,55,89,100,144,200
time,,,,,,,,,,,,,,,,
2020-08-31 00:00:00-04:00,498.5100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-01 00:00:00-04:00,475.0400,486.77500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-02 00:00:00-04:00,447.2450,461.14250,473.598333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-03 00:00:00-04:00,407.0000,427.12250,443.095000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-04 00:00:00-04:00,417.9307,412.46535,424.058567,449.14514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-08 00:00:00-04:00,330.0200,373.97535,384.983567,415.44714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-09 00:00:00-04:00,366.2100,348.11500,371.386900,393.68114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-10 00:00:00-04:00,370.5000,368.35500,355.576667,378.33214,414.056962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-11 00:00:00-04:00,372.4101,371.45505,369.706700,371.41416,398.294475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-14 00:00:00-04:00,419.7650,396.08755,387.558367,371.78102,391.385100,410.46308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-15 00:00:00-04:00,449.3800,434.57250,413.851700,395.65302,391.651975,405.55008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-16 00:00:00-04:00,441.7600,445.57000,436.968333,410.76302,395.996975,402.22208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-17 00:00:00-04:00,423.4300,432.59500,438.190000,421.34902,396.684388,399.84058,416.861600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-18 00:00:00-04:00,440.9701,432.20005,435.386700,435.06102,410.553150,403.23759,412.435454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-21 00:00:00-04:00,449.4100,445.19005,437.936700,440.99002,420.953150,406.38552,410.463915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-22 00:00:00-04:00,423.9740,436.69200,438.118033,435.90882,427.637400,415.78092,408.673838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-23 00:00:00-04:00,380.3885,402.18125,417.924167,423.63452,428.634700,417.19877,406.626800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-24 00:00:00-04:00,387.6300,384.00925,397.330833,416.47452,424.617825,418.91177,404.295977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-25 00:00:00-04:00,407.1800,397.40500,391.732833,409.71650,419.342825,422.38876,410.231362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-28 00:00:00-04:00,421.0602,414.12010,405.290067,404.04654,416.755350,422.51828,414.450608,416.49068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
cross_df = return_crossovers(close_df)

In [15]:
cross_df.head(20)

,close to 2,close to 3,close to 5,close to 8,close to 10,close to 13,close to 20,close to 21,close to 34,close to 50,...,55 to 89,55 to 100,55 to 144,55 to 200,89 to 100,89 to 144,89 to 200,100 to 144,100 to 200,144 to 200
time,,,,,,,,,,,,,,,,,,,,,
2020-08-31 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-01 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-02 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-03 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-04 00:00:00-04:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-08 00:00:00-04:00,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-09 00:00:00-04:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-10 00:00:00-04:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-11 00:00:00-04:00,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-14 00:00:00-04:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-15 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-16 00:00:00-04:00,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-17 00:00:00-04:00,0,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-18 00:00:00-04:00,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-21 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-22 00:00:00-04:00,-1,-1,-1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-23 00:00:00-04:00,0,0,0,0,-1,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-24 00:00:00-04:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-25 00:00:00-04:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-28 00:00:00-04:00,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# # pseudocode outline:

# function to get price history - args are stock ticker/s, amount of days
# 	call alpaca
# 	return dataframe

# function to get twitter history
# 	possibly filter for repeated tweets
# 	return signal

# function to get news history
# 	return signal

# function to get reddit history
# 	return signal

# function to get general sentiment signals history
# 	call function to get twitter history
# 	call function to get news history
# 	call function to get reddit history
# 	return combined dataframe of signals


# function to get sentiment signals history of specific stock - arg is stock ticker
# 	call function to get twitter history
# 	call function to get news history
# 	call function to get reddit history
# 	return combined dataframe of signals

# function to run machine learning - arg is combined signals and stock history
# 	add additional columns for each signal for a daily percent change and a 5 day moving average a 100 day moving average
# 	scale
# 	train/test split
# 	try a few machine learning possibilities, svm, adaboost, possibly neural - try to guess if it will go up or down the following day

# 	try the following : reduce overfitting with early stopping
	
# 	neural - y is determined by whether it goes up or down the following day. two output neurons, highest one is selected to make signal.
# 	check amount correct, amount incorrect, and difference between actual and strategy.	

# 	neural 2nd stage - train only on the indexes which were incorrectly predicted.

	




# 	return buy/sell signal


# Main function:
# 	determine which stocks to pull, one or many

# 	call function to get price history

# 	call function to get general sentiment signals history

# 	call function to get sentiment signals history for specific stock/s

# 	call function to run machine learning on the price history and signals

# 	output graphs





# terms to use in signal search for general:
# green
# renewable
# environment
# climate
# global warming
# climate crisis
# natural disaster